<!DOCTYPE html>

<html>
<head>
	<title>Login to Fritter</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="main.css">
	<script src="../handlebars-v4.0.5.js"></script>
</head>

<body>
	<div id="header">
		<h1>what yo name is?</h1>
	</div>

	<div id="login-form">
		<form action="user/index" method="post">
			<h2 class="input"> if you already have an account, log in! </h2>
			<h6 class="input"> both usernames and passwords are case sensitive!</h6>
			<input type="text" name="name" class = "textinput" placeholder="username">
			<input type="text" name="password" class = "textinput" placeholder="password">
			<input type="submit" class = "submitbutton" value="log in">
		</form>
	</div>

	<div id="signup-form">
		<form action="user/newaccount" method="post">
			<h2 class="input"> if you don't, make one! </h2>
			<h6 class="input"> both usernames and passwords are case sensitive! <br/> space is limited, so no spaces please</h6>
			<input type="text" name="name" class = "textinput" placeholder="newusername">
			<input type="text" name="password" class = "textinput" placeholder="newpassword">
			<input type="submit" class = "submitbutton" value="sign up!">
		</form>
	</div>

</body>

</html>
