<!DOCTYPE html>

<html>
<head>
	<title>Login to Fritter</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="main.css">
	<script src="handlebars-v4.0.5.js"></script>
</head>

<body>
	<div id="header">
		<h1>What yo name is?</h1>
	</div>

	<div id="login-form">
		<form action="index" method="post">
			<h2 class="input"> Throw that in this here box </h2>
			<h6 class="input"> Space is limited, so no spaces please</h6>
			<input type="text" name="name" class = "textinput" placeholder="Tim">
			<input type="submit" class = "submitbutton" value="Log In">
		</form>
	</div>
</body>

</html>
